/*css navbar para todas as telas*/

.navbar {
    display: flex;
    background-color: #fff;
    text-align: center;
}

.itemMenu{
    text-decoration: none;
    color: black;
}

/*css h1 para tela Home*/

h1{
    background: #000;
    padding: 20px;
    color: #fff;
    text-align: center;
    position: relative;
}

/*css footer para todas as telas*/

footer{
    text-align: center;
}



/*css tela de cadastro de Usuário e de login*/
.cadastroPrincipal{
    display: flex;
    justify-content: space-between;
}

.imgFamiliaFundo{
    width: 55%;
}

.conteudoPrincipal{
    background-color: #484445;
    padding: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #fff;
    padding: 30px;
}

.container input{
    padding: 10px 140px 10px 10px;
    margin: 10px;
}

.container select{
    padding: 10px 140px 10px 10px;
    margin: 10px;
}

.container textarea{
    padding: 10px 140px 100px 10px;
    margin: 10px;
}



.container button{
    padding: 10px 10px;
    margin: 10px;
    text-align: center;
}

/*css da tela de administrador*/
.telaFundo{
    width: 100%;
}



.containerAdmin select{
    padding: 10px 140px 10px 10px;
}

.conteudoPrincipalTelaInicial{
    display: flex;
    justify-content: space-around;
}

/*css das telas de administrador*/
h2{ 
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#fff;
}

.containerAdmin{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
}

.containerAdmin button{
    width: 30%;
    align-self: center;
    margin: 10px;
}

#tabela-lista{
    width: 100%;
    color: #fff;
}

#tabela-lista-corpo{
    width: 100%;
    color: #fff;
    font-size: 12px;
    text-align: center;
}

/*Layout Responsivo*/
@media (max-width: 789px){
    #tabela-lista{
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        flex-direction: column;
        
    }

    #tabela-lista-corpo{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}
